body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100%;
    font-family: Arial, sans-serif; /* Ajouter une police par défaut */
}

header {
    position: relative;
    width: 100%;
    height: 100vh; /* Prend tout l'écran */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.5);
    overflow: hidden;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none; /* Désactive l'interaction avec l'arrière-plan */
    object-fit: cover; /* Assure que l'image couvre toute la zone sans déformation */
}

h1 {
    z-index: 1; /* S'assurer que le contenu est devant l'animation */
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrer le h1 parfaitement */
    max-width: 90%; /* S'assurer que le texte ne déborde pas */
    word-wrap: break-word; /* Permet de couper les mots s'ils sont trop longs */
}

.dynamic-text {
    color: rgb(168, 184, 32);
    display: inline;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom;
    border-right: 0.15em solid white;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

#svg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%, 50%);
    z-index: 1;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5em; /* Réduire la taille du texte sur les écrans plus petits */
    }

    header {
        height: 90vh; /* Ajuster la hauteur de l'en-tête pour les petits écrans */
    }

    #svg {
        width: 120%; /* Augmenter légèrement la largeur pour couvrir le bas de l'écran */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2em; /* Réduire encore la taille du texte pour les très petits écrans */
    }

    .dynamic-text {
        font-size: 1em; /* Ajuster la taille du texte dynamique */
    }

    header {
  
        height: 80vh; /* Réduire la hauteur de l'en-tête sur les très petits écrans */
    }

    #svg {
        position: absolute;
        bottom: 0;
        left: 40%;
        transform: translateX(-50%,50%); /* Supprimer la translation verticale */
        z-index: 1;
        width: 140%; /* Augmenter la largeur pour couvrir les bords sur les très petits écrans */
    }
}
