body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

header {
    position: relative;
    width: 100%;
    height: 100vh; /* Prend tout l'écran */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    box-shadow:0 10px 20px rgba(255, 255, 255, 0.5);
    
    overflow: hidden;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
    pointer-events: none; /* Désactive l'interaction avec l'arrière-plan */
}

h1 {
    z-index: 1; /* S'assurer que le contenu est devant l'animation */
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); /* Centrer le h1 parfaitement */
}

.dynamic-text {
    color: rgb(168, 184, 32);
    display: inline;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom;
    border-right: 0.15em solid white;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

#svg {
    position: absolute;
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%, -50%); 
    z-index: 1; 
    width: 100%; 
}
